# Supabase 
NEXT_PUBLIC_SUPABASE_URL=https://[ref].supabase.co 
NEXT_PUBLIC_SUPABASE_ANON_KEY=[anon-key] 
SUPABASE_SERVICE_ROLE_KEY=[service-role-key] 
SUPABASE_PROJECT_REF=[ref] # the short ID
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
REDIS_URL=